@import '_variables';

.content {
    &__modal-content-h1 {
        font-size: $title-size;
        font-family: $title-font;
    }

    &__modal-content-p {
        font-size: $default-size;
        font-family: $default-font;
        text-transform: lowercase;
    }

    &__modal-content-h4 {
        margin-top: 400px;
    }
}
