@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap");
.header {
  width: 100%;
  border-bottom: 3px solid #b770b0;
}
.header h1 {
  font-family: "Dancing Script", cursive;
  color: #2f3541;
  text-align: center;
  letter-spacing: 4px;
  padding: 30px 0;
  font-size: 3em;
}

.menu {
  text-align: center;
  padding: 20px 0;
  height: 75px;
  border-bottom: 3px solid #b770b0;
}
.menu div {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  font-family: "Tektur", cursive;
  padding: 0 30px;
  width: 200px;
  text-transform: uppercase;
  cursor: pointer;
}
.menu div:hover {
  border-bottom: 2px solid #b770b0;
}

@media screen and (max-width: 800px) {
  .header h1 {
    font-size: 1.5rem;
  }
  .menu {
    height: auto;
    display: block;
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 600px) {
  .menu {
    height: auto;
    display: block;
    font-size: 0.7rem;
    padding: 10px;
  }
}
.content__modal {
  position: fixed;
  top: 120px;
  left: 20px;
  right: 20px;
  width: calc(98% - 40px);
  height: 80vh;
  background-color: pink;
  border-radius: 10px;
}
.content__modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.content__modal-1, .content__modal-2, .content__modal-3, .content__modal-4, .content__modal-5, .content__modal-6, .content__modal-wordDivision, .content__modal-vending, .content__modal-cashpoint, .content__modal-converter {
  background-color: #dedde4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 90%;
  overflow: scroll;
  font-size: 24px;
}

@media screen and (max-width: 1000px) {
  .content__modal {
    height: 70vh;
    top: 92px;
  }
  .content__modal-1, .content__modal-2, .content__modal-3, .content__modal-4, .content__modal-5, .content__modal-6, .content__modal-wordDivision, .content__modal-modal, .content__modal-cashpoint, .content__modal-converter {
    height: 78%;
  }
  .content__modal-1 h1, .content__modal-2 h1, .content__modal-3 h1, .content__modal-4 h1, .content__modal-5 h1, .content__modal-6 h1, .content__modal-wordDivision h1, .content__modal-modal h1, .content__modal-cashpoint h1, .content__modal-converter h1 {
    font-size: 0.9rem;
  }
}
.content {
  width: 100%;
}
.content__introduction {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.content__introduction h2 {
  font-family: "Rubik", sans-serif;
  font-size: 2.4em;
  padding: 20px 0;
}
.content__introduction p {
  font-family: "Lunasima", sans-serif;
  font-size: 24px;
}
.content__projects {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.content__projects article {
  display: flex;
  flex-basis: 45%;
  margin: 30px auto;
  border: 1px solid #b770b0;
  border-radius: 10px;
  transition: 0.4s;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.4s;
}
.content__projects article:hover {
  background-color: #d9b4d5;
}
.content__projects article h2 {
  display: block;
  width: 100%;
  font-family: "Rubik", sans-serif;
  padding: 20px;
}
.content__projects article img {
  width: 300px;
  margin: 0 auto;
}
.content__projects article p {
  font-family: "Lunasima", sans-serif;
  padding: 20px 0;
  margin: 0 30px;
}
.content__projects article button {
  width: 30%;
  height: 50px;
  border: none;
  background: #dedde4;
  color: black;
  cursor: pointer;
  margin: 20px auto;
  border: 2px solid #b770b0;
  transition: 0.4s;
  border-radius: 10px;
}
.content__projects article button:hover {
  background-color: #b770b0;
}

@media screen and (max-width: 1000px) {
  .content article {
    flex-basis: 98%;
  }
  .content article h2 {
    font-size: 1rem;
  }
  .content article img {
    width: 80%;
  }
  .content article p {
    font-size: 0.8rem;
  }
  .content article button {
    width: 70%;
    height: 30px;
  }
  .content article:nth(0) {
    display: none;
  }
}
.content__modal-calculator {
  display: flex;
  flex-wrap: wrap;
}
.content__modal-calculator-number {
  width: 33%;
  border: 2px solid #b770b0;
  background-color: #dedde4;
  cursor: pointer;
  padding: 20px 0;
  margin: 35px auto;
  transition: 0.4s;
  border-radius: 10px;
}
.content__modal-calculator-number:hover {
  background-color: #b770b0;
}
.content__modal-calculator-operator {
  width: 100px;
  height: 100px;
  border: 2px solid #b770b0;
  background-color: #dedde4;
  cursor: pointer;
  padding: 20px 0;
  margin: 35px auto;
  transition: 0.4s;
  border-radius: 10px;
}
.content__modal-calculator-operator:hover {
  background-color: #b770b0;
}

.footer {
  background-color: #72516c;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.content {
  min-height: 100vh;
}
.content__introduction h1 {
  margin: 30px 0 15px 0;
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
}
.content__introduction h2 {
  font-size: 1.8rem;
}
.content__introduction p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}
.content__introduction p a {
  text-decoration: underline;
  text-decoration-style: solid;
  color: white;
  padding: 5px;
}
.content__introduction p span {
  font-size: 1.7rem;
  color: #b770b0;
}

@media screen and (max-width: 500px) {
  .content__introduction {
    padding: 0;
  }
  .content__introduction h1 {
    margin: 20px;
    font-size: 1rem;
  }
  .content__introduction h2 {
    font-size: 0.9rem;
  }
  .content__introduction p {
    font-size: 0.75rem;
  }
  .content__introduction p a {
    padding: 0;
  }
  .content__introduction p span {
    font-size: 0.85rem;
  }
}
.content__modal-h1 {
  font-size: 2.4em;
  font-family: "Rubik", sans-serif;
}
.content__modal-p {
  font-size: 24px;
  font-family: "Lunasima", sans-serif;
  text-transform: lowercase;
}
.content__modal-mousePosition-h4 {
  margin-top: 400px;
}

@media screen and (max-width: 900px) {
  .content__modal-h1 {
    font-size: 0.9rem;
  }
  .content__modal-p {
    font-size: 0.7rem;
  }
  .content__modal-mousePosition-h4 {
    font-size: 1rem;
    margin-top: 20px;
  }
}
.content__modal-clicker-h4 {
  color: #2f3541;
  margin: 20px;
  font-size: 2.4em;
}
.content__modal-clicker-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
.content__modal-clicker-square {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid #b770b0;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.content__modal-clicker-square:hover {
  background-color: #b770b0;
}

@media screen and (max-width: 900px) {
  .content__modal-clicker-h4 {
    font-size: 1.2rem;
  }
  .content__modal-clicker-square {
    width: 50px;
    height: 50px;
  }
}
.content__modal-resizableText-btn {
  display: inline;
  width: 20%;
  border: 2px solid #b770b0;
  background-color: #dedde4;
  cursor: pointer;
  padding: 20px 0;
  margin: 35px auto;
  transition: 0.4s;
  border-radius: 10px;
}
.content__modal-resizableText-btn:hover {
  background-color: #b770b0;
}
.content__modal-resizableText-ul {
  list-style: none;
}

@media screen and (max-width: 800px) {
  .content__modal-resizableText-btn {
    height: auto;
    padding: 10px;
    width: 40%;
  }
}
.content__modal-addingOnClick {
  display: flex;
  flex-wrap: wrap;
}
.content__modal-addingOnClick-button {
  display: block;
  width: 50%;
  margin: auto;
  border: 2px solid #b770b0;
  background-color: #dedde4;
  cursor: pointer;
  padding: 20px 0;
  margin: 35px auto;
  transition: 0.4s;
  border-radius: 10px;
}
.content__modal-addingOnClick-button:hover {
  background-color: #b770b0;
}
.content__modal-addingOnClick-tile {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #b770b0;
  margin: 10px;
  padding-top: 8px;
}
.content__modal-addingOnClick-tileDivisibleByFive {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #b770b0;
  margin: 10px;
  padding-top: 8px;
}

@media screen and (max-width: 410px) {
  .content__modal-addingOnClick {
    margin: auto;
  }
  .content__modal-addingOnClick-button {
    width: 80%;
    padding: 5px 0;
  }
  .content__modal-addingOnClick-tile {
    width: 30px;
    height: 30px;
    font-size: 0.5rem;
  }
  .content__modal-addingOnClick-tileDivisibleByFive {
    width: 30px;
    height: 30px;
    font-size: 0.5rem;
  }
}
.content__modal-wordDivision input {
  width: 50%;
  border: 3px solid #b770b0;
  margin: 40px;
  padding: 10px 20px;
  height: 100px;
  border-radius: 15px;
  font-size: 24px;
}
.content__modal-wordDivision input:focus {
  border: 5px solid #72516c;
}
.content__modal-wordDivision button {
  display: block;
  width: 20%;
  border: 2px solid #b770b0;
  background-color: #dedde4;
  cursor: pointer;
  padding: 20px 0;
  margin: 10px auto;
  transition: 0.4s;
  border-radius: 10px;
}
.content__modal-wordDivision button:hover {
  background-color: #b770b0;
}
.content__modal-wordDivision li {
  list-style-type: none;
}
.content__modal-wordDivision div > h3 {
  font-size: 1.7em;
  font-family: "Rubik", sans-serif;
}

@media screen and (max-width: 900px) {
  .content__modal-wordDivision input {
    width: 90%;
    height: 30px;
    margin: 20px auto;
    font-size: 1rem;
  }
  .content__modal-wordDivision button {
    width: 70%;
    height: auto;
    padding: 10px;
  }
  .content__modal-wordDivision div > h3, .content__modal-wordDivision li, .content__modal-wordDivision p {
    font-size: 1rem;
  }
}
.content__modal-vending div button {
  display: inline;
  width: 20%;
  border: 2px solid #b770b0;
  background-color: #dedde4;
  cursor: pointer;
  padding: 20px 0;
  margin: 10px 20px;
  transition: 0.4s;
  border-radius: 10px;
}
.content__modal-vending div button:hover {
  background-color: #b770b0;
}
.content__modal-vending div button:disabled {
  background-color: #2f3541;
}
.content__modal-vending-lack {
  color: red;
  font-weight: 900;
}

@media screen and (max-width: 900px) {
  .content__modal-vending div button {
    width: 40%;
    padding: 0;
  }
  .content__modal-vending div button:disabled {
    width: 40%;
    padding: 5px;
  }
  .content__modal-vending p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 580px) {
  .content__modal-vending div button {
    width: 40%;
    padding: 5px;
    margin: 10px auto;
  }
}
.content__modal-converter-converterBox {
  width: 90%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.content__modal-converter-div {
  margin: 10px auto;
  width: 60%;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
}
.content__modal-converter-div h3 {
  font-family: "Dancing Script", cursive;
}
.content__modal-converter-div input {
  width: 80%;
  border: 3px solid #b770b0;
  margin: 40px;
  padding: 10px 20px;
  height: 70px;
  border-radius: 15px;
  font-size: 24px;
}
.content__modal-converter-div input:focus {
  border: 5px solid #72516c;
}

@media screen and (max-width: 1000px) {
  .content__modal-converter-div {
    padding-top: 10px;
    width: 100%;
  }
  .content__modal-converter-div h3 {
    font-size: 1rem;
  }
  .content__modal-converter-div input {
    width: 99%;
    height: 30px;
    margin: 20px auto;
    font-size: 0.9rem;
  }
  .content__modal-converter-div p {
    font-size: 0.9rem;
  }
}
.content__modal-cashpoint input {
  display: inline;
  width: 20%;
  border: 2px solid #b770b0;
  background-color: #dedde4;
  cursor: pointer;
  padding: 20px 0;
  margin: 10px auto;
  transition: 0.4s;
  border-radius: 10px;
  font-weight: 900;
  font-size: 24px;
  padding: 15px;
  text-align: center;
}
.content__modal-cashpoint input[type=button] {
  width: 100px;
}
.content__modal-cashpoint input[type=button]:hover {
  background-color: #b770b0;
}
.content__modal-cashpoint input:disabled {
  width: 100px;
}
.content__modal-cashpoint input:disabled:hover {
  background-color: #dedde4;
}
.content__modal-cashpoint-box {
  display: block;
  margin: 10px;
}
.content__modal-cashpoint-box :nth-child(1) {
  background-color: #874b0f;
}
.content__modal-cashpoint-box :nth-child(2) {
  background-color: #c0c0c0;
}
.content__modal-cashpoint-box :nth-child(3) {
  background-color: #ffd700;
}
.content__modal-cashpoint-box button {
  font-family: "Dancing Script", cursive;
  font-size: calc(2.4em / 2);
  width: 20%;
  height: 150px;
  background-color: #dedde4;
  cursor: pointer;
  padding: 20px 0;
  margin: 10px auto;
  transition: 0.4s;
  border-radius: 10px;
  margin: 20px;
}
.content__modal-cashpoint-box button:hover {
  filter: saturate(50%);
}
.content__modal-cashpoint-display {
  width: 50%;
  border: 2px solid black;
  background-color: white;
  margin: 20px auto;
}
.content__modal-cashpoint-display input {
  width: 20%;
  border: 2px solid #b770b0;
  background-color: #dedde4;
  cursor: pointer;
  padding: 20px 0;
  margin: 10px auto;
  transition: 0.4s;
  border-radius: 10px;
  font-weight: 900;
  font-size: 24px;
  padding: 15px;
  text-align: center;
}
.content__modal-cashpoint-display input[type=button] {
  width: 100px;
}
.content__modal-cashpoint-display p {
  margin: 30px;
  padding: 25px;
}
.content__modal-cashpoint-display div {
  margin: 30px 10px;
}
.content__modal-cashpoint-display div div {
  display: block;
  width: 80%;
  border: 2px solid #b770b0;
  background-color: #dedde4;
  cursor: pointer;
  padding: 20px 0;
  margin: 10px auto;
  transition: 0.4s;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .content__modal-cashpoint input {
    width: 50%;
    font-size: 1rem;
  }
  .content__modal-cashpoint input[type=button] {
    width: 100px;
    font-size: 1rem;
  }
  .content__modal-cashpoint-box :nth-child(1) {
    height: 50px;
    width: 100%;
    background-color: #f8f9fa;
    color: #495057;
    font-size: 1rem;
    display: block;
    padding: 10px;
    margin: auto;
    background-color: #874b0f;
  }
  .content__modal-cashpoint-box :nth-child(2) {
    height: 50px;
    width: 100%;
    background-color: #f8f9fa;
    color: #495057;
    font-size: 1rem;
    display: block;
    padding: 10px;
    margin: auto;
    background-color: #c0c0c0;
  }
  .content__modal-cashpoint-box :nth-child(3) {
    height: 50px;
    width: 100%;
    background-color: #f8f9fa;
    color: #495057;
    font-size: 1rem;
    display: block;
    padding: 10px;
    margin: auto;
    background-color: #ffd700;
  }
  .content__modal-cashpoint-display {
    width: 100%;
  }
}
@media screen and (max-width: 660px) {
  .content__modal-cashpoint input {
    width: 50%;
    font-size: 1rem;
  }
  .content__modal-cashpoint input[type=button] {
    font-size: 0.7rem;
  }
  .content__modal-cashpoint-box :nth-child(1) {
    height: 50px;
    width: 100%;
    background-color: #f8f9fa;
    color: #495057;
    font-size: 1rem;
    display: block;
    padding: 10px;
    background-color: #874b0f;
  }
  .content__modal-cashpoint-box :nth-child(2) {
    height: 50px;
    width: 100%;
    background-color: #f8f9fa;
    color: #495057;
    font-size: 1rem;
    display: block;
    padding: 10px;
    background-color: #c0c0c0;
  }
  .content__modal-cashpoint-box :nth-child(3) {
    height: 50px;
    width: 100%;
    background-color: #f8f9fa;
    color: #495057;
    font-size: 1rem;
    display: block;
    padding: 10px;
    background-color: #ffd700;
  }
}
.section {
  width: 80%;
  margin: auto;
  min-height: 100vh;
}
.section__title {
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
  margin: 30px 0 15px 0;
}
.section__span {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}
.section__iconBox {
  font-size: 3rem;
  margin-top: 50px;
  color: #6a6181;
}
.section__p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8rem;
  font-weight: bold;
}
.section__a {
  text-decoration: none;
  color: #b770b0;
  font-size: 1.5rem;
  font-family: "Rubik Maps", system-ui;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2f3541;
  text-align: center;
}/*# sourceMappingURL=style.css.map */