@import '_variables';

.content {
    &__modal {
        &-addingOnClick {
            display: flex;
            flex-wrap: wrap;

            &-button {
                display: block;
                width: 50%;
                margin: auto;
                border: 2px solid $bar-color;
                background-color: $background-color;
                cursor: pointer;
                padding: 20px 0;
                margin: 35px auto;
                transition: 0.4s;
                border-radius: 10px;

                &:hover {
                    background-color: $bar-color;
                }
            }

            &-tile {
                width: 50px;
                height: 50px;
                border-radius: 10px;
                border: 2px solid $bar-color;
                margin: 10px;
                padding-top: 8px;
            }

            &-tileDivisibleByFive {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #fff;
                color: $bar-color;
                margin: 10px;
                padding-top: 8px;
            }
        }
    }
}

@media screen and (max-width: 410px) {
    .content {
        &__modal-addingOnClick {
            margin: auto;
            &-button {
                width: 80%;
                padding: 5px 0;
            }

            &-tile {
                width: 30px;
                height: 30px;
                font-size: 0.5rem;
            }

            &-tileDivisibleByFive {
                width: 30px;
                height: 30px;
                font-size: 0.5rem;
            }
        }
    }
}
