@import '_variables';
@import 'header';
@import 'modal';
@import 'index';
@import 'projects';
@import 'footer';
@import 'introduction';
@import 'MousePosition';
@import 'Clicker';
@import 'ResizableText';
@import 'AddingOnClick';
@import 'WordDivision';
@import 'Vending';
@import 'Converter';
@import 'Cashpoint.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $font-color;
    text-align: center;
}
